<?xml version="1.0"?>
<launch>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find godel_plugins)/rviz/robot_blending.rviz" output="screen">
		<rosparam command="load" file="$(find godel_surface_detection)/config/surface_detection.yaml"/>
		<rosparam command="load" file="$(find godel_surface_detection)/config/sia20d/robot_scan.yaml"/>
	</node>
	<node name="point_cloud_publisher_node" pkg="godel_surface_detection" type="point_cloud_publisher_node"
		args="-f data/milk_cartoon_all_small_clorox.pcd -r 0.5 -i world_frame" output="log"/>

	<include file="$(find godel_sia20d_moveit_config)/launch/moveit_planning_execution.launch">
		<arg name="rviz" value="false"/>
	</include>
</launch>
