<launch>
  <include file="$(find keyence_ljv_description)/launch/load_lj_v7080.launch" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find keyence_ljv_description)/config/rviz.rviz" required="true" />
</launch>
