<?xml version="1.0"?>
<launch>
  <!-- Unit test launch file -->

  <!-- Load up parameter server, based on standard planning_context.launch moveit file-->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="$(arg robot_description)" command="$(find xacro)/xacro.py '$(find godel_robot_config)/urdf/sia20d_workspace.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find godel_sia20d_moveit_config)/config/sia20d_workspace.srdf" />
  
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find godel_sia20d_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find godel_sia20d_moveit_config)/config/kinematics.yaml"/>
  </group>
  
</launch>
