<?xml version="1.0"?>
<launch>
	<arg name="fake_data" default="true"/>

	<remap if="$(arg fake_data)" from="generated_cloud" to="sensor_point_cloud"/>
	<node if="$(arg fake_data)" pkg="godel_surface_detection" type="point_cloud_generator_node" name="point_cloud_generator_node" output="screen">
		<rosparam command="load" file="$(find godel_surface_detection)/config/sia20d/point_cloud_descriptions.yaml"/>
	</node>

		<node unless="$(arg fake_data)" name="point_cloud_publisher_node" pkg="godel_surface_detection" type="point_cloud_publisher_node"
			args="-f data/milk_cartoon_all_small_clorox.pcd -r 0.5 -i world_frame" output="log">
			<rosparam param="cloud_transform">{rx: 0.96, ry: 0.0, rz: -1.57, x: 0.28, y: 0.0, z: 0.48}</rosparam>
		</node>

	<node name="rviz_godel_surface_detection" pkg="rviz" type="rviz" 
		args="-d $(find godel_surface_detection)/rviz/surface_detection.rviz" output="screen"/> 

</launch>
