<?xml version="1.0" ?>
<launch>
	<arg name="sensor_usb_bus" default="002"/>
	<arg name="sensor_usb_device" default="000"/>
	<arg name="arm_prefix" default=""/>
	<arg name="camera_name" default="asus"/>
	<!--<arg name="device_id" default="$(arg sensor_usb_bus)@$(arg sensor_usb_device)" />-->
	<arg name="device_id" default="#1"/>
	<arg name="publish_tf" default="false" />

	<param name="$(arg camera_name)/driver/data_skip" value="4"/>

	<include file="$(find openni2_launch)/launch/openni2.launch">
		<arg name="publish_tf" value="$(arg publish_tf)" />
		<arg name="camera" value="$(arg camera_name)" />
		<arg name="rgb_frame_id" default="$(arg camera_name)_rgb_optical_frame"/>
		<arg name="depth_frame_id" default="$(arg camera_name)_ir_optical_frame"/>
		<arg name="rgb_camera_info_url" default="file://$(find godel_surface_detection)/config/$(arg camera_name)_with_mount_rgb.yaml"/>
		<arg name="depth_camera_info_url" default="file://$(find godel_surface_detection)/config/$(arg camera_name)_with_mount_ir.yaml" />
		<arg name="device_id" default="$(arg device_id)" />
	</include>	
</launch>
