<?xml version=".0" ?>
<launch>
	<node name="surface_detection_service" pkg="godel_surface_detection" type="surface_detection_service" output="screen">
		<rosparam command="load" file="$(find godel_surface_detection)/config/sia20d/robot_scan.yaml"/>
		<rosparam command="load" file="$(find godel_surface_detection)/config/surface_detection.yaml"/>
	</node>
	<include file="$(find godel_surface_detection)/launch/publish_cloud_file.launch"/>
</launch>
