<?xml version="1.0"?>
<launch>
	<node name="surface_detection_node" pkg="godel_surface_detection" type="surface_detection_node" 
		args="-a 2 -f world_frame" output="screen">
		<rosparam command="load" file="$(find godel_surface_detection)/config/sia20d/surface_detection_fake_data.yaml"/>
	</node> 
</launch>
