<library path="lib/librobot_blending_rqt_plugin">
  <class name="robot_blending_rqt_plugin/RobotBlendingPlugin" type="robot_blending_rqt_plugin::rqt_plugins::RobotBlendingPlugin" 	base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to create and run robot paths for blending surfaces.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Robot Blending</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin for generating robot paths for surface blending</statustip>
    </qtgui>
  </class>
</library>
